/* **************************** */
/* SCSS pour le menu responsive */
/* **************************** */


/* variables */
$bgColor: #FFFD;
$hauteurBarre: 48px;
$breakpointMenu: 960px;


/* placeholders */
%bgNavbar {
  background-color: $bgColor;
}

%hamburgerFixed {
  width: 36px;
  height: 36px;
  padding: 4px;
  position: absolute;
  top: 6px;
  right: 12px;
  background-color: $vert;
}


/* CSS */
.barreMenu {
  display: flex;
  color: $gris;
  @extend %bgNavbar;
}

.titre {
  display: flex;
  align-items: center;
  height: $hauteurBarre;
  margin-left: 16px;
  img {
    height: 40px;
  }
  span {
    font-size: 1.6em;
  }
}

.titre span:first-child {
  font-family: "Jost";
}
.titre span:last-child {
  font-family: "Nothing You Could Do";
}

.barrnav {
  color: #333;
  a {
    color: inherit;
  }
}

.hamb {
  @extend %hamburgerFixed;
}

.checkMenu {
  @extend %hamburgerFixed;
  opacity: 0;
}

.menu {
  display: none;
  list-style: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: $hauteurBarre;
  right: 0;
  margin: 0;
  padding: 0;
  li {
    padding: 10px 24px;
    min-width: 116px;
    font-family: "Anton Regular";
    text-align: right;
    background-color: $vert;
  }
  li.jaune {
    background-color: $jaune;
  }
}

input[type='checkbox']:checked ~ ul.menu {
  display: flex;
}


/* media query responsive */
@media screen and (min-width: $breakpointMenu) {

  .hamb, .checkMenu {
    display: none;
  }

  .barreMenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    justify-content: center;
    background: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    position: relative;
    width: initial;
    top: initial;
    margin-left: 15px;
    background: none;
    li {
      text-align: center;
      min-width: initial;
      margin: 0;
      padding: 0;
      background-color: $vert;
    }
    li.jaune {
       margin-left: 10px;
    }
    a {
      display: inline-block;
      padding: 12px 24px;
    }
  }

  .titre {
    height: initial;
    flex-direction: column;
    background-color: white;
    margin: 0;
    padding: 8px;
    line-height: 0.8;
    img {
      order: -1;
    }
  }

}