@font-face {
  font-family: "Anton Regular";
  src: url("../fonts/Anton-Regular.ttf");
}

@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Black";
  src: url("../fonts/Lato-Black.ttf");
}

/* **************************** */
/* SCSS pour le menu responsive */
/* **************************** */
/* variables */
/* placeholders */
.barreMenu {
  background-color: #FFFD;
}

.hamb, .checkMenu {
  width: 36px;
  height: 36px;
  padding: 4px;
  position: absolute;
  top: 6px;
  right: 12px;
  background-color: #b3d143;
}

/* CSS */
.barreMenu {
  display: -ms-flexbox;
  display: flex;
  color: #6d6f71;
}

.titre {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 48px;
  margin-left: 16px;
}

.titre img {
  height: 40px;
}

.titre span {
  font-size: 1.6em;
}

.barrnav {
  color: #333;
}

.barrnav a {
  color: inherit;
}

.checkMenu {
  opacity: 0;
}

.menu {
  display: none;
  list-style: none;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: absolute;
  top: 48px;
  right: 0;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px 24px;
  min-width: 116px;
  font-family: "Anton Regular";
  text-align: right;
  background-color: #b3d143;
}

.menu li.jaune {
  background-color: #fcb731;
}

input[type='checkbox']:checked ~ ul.menu {
  display: -ms-flexbox;
  display: flex;
}

/* media query responsive */
@media screen and (min-width: 960px) {
  .hamb, .checkMenu {
    display: none;
  }
  .barreMenu {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-pack: center;
        justify-content: center;
    background: none;
  }
  .menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    position: relative;
    width: initial;
    top: initial;
    margin-left: 15px;
    background: none;
  }
  .menu li {
    text-align: center;
    min-width: initial;
    margin: 0;
    padding: 0;
    background-color: #b3d143;
  }
  .menu li.jaune {
    margin-left: 10px;
  }
  .menu a {
    display: inline-block;
    padding: 12px 24px;
  }
  .titre {
    height: initial;
    -ms-flex-direction: column;
        flex-direction: column;
    background-color: white;
    margin: 0;
    padding: 8px;
    line-height: 0.8;
  }
  .titre img {
    -ms-flex-order: -1;
        order: -1;
  }
}

.body {
  font-family: "Lato Regular";
}

.bloc {
  border: 1px solid grey;
}

.bloc--vert {
  background-color: #b3d143;
}

.bloc--points {
  background-image: url("../svg/points.svg");
  background-blend-mode: soft-light;
}

.bloc--marronClair {
  background-color: #e8ddca;
}

.bloc--gris {
  background-color: #6d6f71;
}

.content {
  border: 1px solid grey;
  min-height: 100px;
  margin: 5px auto;
  padding: 10px;
}

.photoTop {
  background-image: url("../Photos/20161202_101925.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  padding-bottom: 40px;
}

.bloc--blanc .accroche {
  text-align: center;
  font-family: "Anton Regular";
  color: #fcb731;
  line-height: 0.9;
  margin: 20px;
}

.bloc--blanc .accroche img {
  margin-bottom: 30px;
  width: 96px;
}

.grille_pictos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Lato Regular";
  font-size: 1.2em;
}

.grille_pictos .picto {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
}

.grille_pictos .nb {
  font-size: 1.8em;
}

.picto--coop {
  color: #c3a575;
}

.picto--photovolt {
  color: #b3d143;
}

.picto--prod {
  color: #fcb731;
}

.picto--capital {
  color: #00afec;
}

.titre_et_texte {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  color: #6d6f71;
  margin-top: 60px;
}

.titre_et_texte .titre {
  font-family: "Lato Black";
  font-size: 1.8em;
  margin: 20px;
  text-align: center;
  background-color: #fff0;
  line-height: 1.5;
}

.titre_et_texte .texte {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.plus, .souscrire, .fleches svg {
  -ms-flex-item-align: end;
      align-self: flex-end;
  fill: currentColor;
  width: 36px;
  height: 36px;
}

.bouton {
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  font-size: 1.3em;
  font-family: "Lato Black";
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bouton span {
  vertical-align: middle;
}

.bouton svg {
  vertical-align: middle;
  margin-left: 10px;
}

.bouton--gris {
  background-color: #6d6f71;
  color: white;
}

.bouton--jaune {
  background-color: #fcb731;
}

.bloc--jaune {
  background-color: #fcb731;
  color: white;
}

.bloc__titre {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.bloc__titre h2 {
  font-family: "Anton Regular";
  text-transform: uppercase;
}

.bloc__contenu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.bloc__contenu img {
  width: 90%;
}

.bloc__texte {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.bloc__texte .plus {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (min-width: 960px) {
  .content {
    width: 960px;
  }
  .photoTop {
    height: 400px;
  }
  .grille_pictos {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .titre_et_texte {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
  }
  .titre_et_texte .titre {
    width: 50%;
    text-align: right;
  }
  .titre_et_texte .texte {
    width: 50%;
  }
  .contenuBloc {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .contenuBloc img {
    width: 45%;
  }
  .texteBloc {
    margin-left: 24px;
  }
  .texteBloc .plus {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

/*# sourceMappingURL=style.css.map */
