@import "variables";
@import "fonts";
@import "menu";

.bloc {
  border: 1px solid grey;
}

.bloc--jaune {
  background-color: $jaune;
}

.bloc--vert {
  background-color: $vert;
}

.bloc--plus {
  background-image: url("../svg/points.svg");
}

.bloc--marronClair {
  background-color: $marronClair;
}

.bloc--gris {
  background-color: $gris;
}

.content {
  border: 1px solid grey;
  height: 100px;
  margin: 5px auto;
}

@media screen and (min-width: 960px) {
  .content {
    width: 960px;
  }
}