@import "variables";
@import "fonts";
@import "menu";

body {
  font-family: "Lato Regular";
  line-height: 1.8;
}

svg[class*="icon-"] {
  width: 36px;
  height: 36px;
  vertical-align: -0.5em;
  fill: currentColor;
  /* Les paths et les strokes qui dépassent de la viewBox peuvent apparaître dans IE. */
  overflow: hidden;
}

.bloc {
  border: 1px solid grey;
}

.bloc--jaune {
  background-color: $jaune;
  color: #fff;
}

.bloc--vert {
  background-color: $vert;
  color: $gris;
}

.bloc--points::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("../svg/points.svg");
}

.bloc--points {
  color: $gris;
  position: relative;
}

.bloc--marronClair {
  background-color: $taupe;
  color: $gris;
}

.bloc--gris {
  background-color: $gris;
  color: #fff;
}

.content {
  border: 1px solid grey;
  min-height: 100px;
  margin: 5px auto;
  padding: 10px;
}

.photoTop {
  background-image: url("../Photos/20161202_101925.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  padding-bottom: 40px;
}

.bloc--blanc .accroche {
  text-align: center;
  font-family: "Anton Regular";
  color: $jaune;
  line-height: 0.9;
  margin: 20px;
  img {
    margin-bottom: 30px;
    width: 96px;
  }
}

.grille_pictos {
  display: flex;
  flex-wrap: wrap;
  font-family: "Lato Regular";
  font-size: 1.2em;
  .picto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
  }
  .desc {
    line-height: 1;
  }
  .nb {
    font-size: 1.8em;
  }
  svg {
    width: 72px;
    height: 72px;
  }
}

.picto--coop {
  color: $marron;
}

.picto--photovolt {
  color: $vert;
}

.picto--prod {
  color: $jaune;
}

.picto--capital {
  color: $bleu;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $gris;
  margin-top: 60px;
  .presentation__titre {
    font-family: "Lato Black";
    font-size: 1.8em;
    margin: 20px;
    text-align: center;
    background-color: #fff0;
    line-height: 1.5;
  }
  .presentatioh__texte {
    width: 100%;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
  }
}

.icon-plus {
  align-self: flex-end;
}

.bouton {
  align-items: center;
  text-align: center;
  font-size: 1.3em;
  font-family: "Lato Black";
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  svg {
    margin-left: 10px;
  }
}

.bouton--gris {
  background-color: $gris;
  color: #fff;
}

.bouton--jaune {
  background-color: $jaune;
}

.bloc__titre {
  display: flex;
  justify-content: space-between;
  h2 {
    font-family: "Anton Regular";
    text-transform: uppercase;
  }
}

.bloc__contenu {
  display: flex;
  flex-direction: column;
  font-size: 110%;
  img {
    width: 90%;
  }
}

.bloc__texte {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 1.4em;
  }
  .icon-plus {
    align-self: flex-start;
  }
}

.footer__liens {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .content {
    width: 960px;
  }

  .photoTop {
    height: 400px;
  }

  .grille_pictos .picto {
    width: 25%;
  }

  .presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    .presentation__titre {
      width: 50%;
      text-align: right;
    }
    .presentation__texte {
      width: 50%;
    }
  }

  .bloc__contenu {
    flex-direction: row;
    align-items: flex-start;
    img {
      width: 45%;
      object-fit: contain;
    }
  }

  .bloc__texte {
    margin-left: 24px;
    h3 {
      font-size: 1.6em;
    }
    .icon-plus {
      align-self: flex-end;
    }
  }

  .footer__liens {
    flex-direction: row;
    justify-content: space-evenly;
  }

}